/* Header */
.container__items {
  justify-content: space-evenly;
}

/*
  Pegamos como referecia o efeito da barra de pesquisa do
  seguinte repositorio
  ref: https://github.com/antonyleme/CSS-Animations
*/

.search {
  background-color: #222f3e;
  position: absolute;
  top: 4%;
  left: 80%;

  transform: translate(-50%, -50%);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-txt , .search-btn {
  transition: 0.8s;
  outline: none;
  padding: 0;
  border: none;
  background: none;
}

.search-txt {
  color: white;
  width: 0;
  float: left;
}

.search-btn {
  border-radius: 40px;
  color: white;
  width: 40px;
  height: 40px;
}

.search-btn:active {
  background-color: rgba(255,255,255,.5);
}

.search:hover > .search-txt {
  width: 200px;
  padding: 10px;
}

.search:hover > .search-btn {
  transform: rotate(360deg);
}

button::-moz-focus-inner {
  border: 0;
}

.form-control-dark:focus {
  color: white;
  background-color: var(--bs-dark);
  border-color: white;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.form__search-news {
  margin-left: 2rem;
  display: inherit;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

.logo {
  font-size: 1.8rem;
  color: rgb(102, 102, 102);
  margin-right: 2.5rem;
}

@media screen and ( max-width : 991px ) {

  .search {
    top: 4.5%;
    left: 85%;
  }

}

@media screen and ( max-width : 840px ) {

  .search {
    left: 87%;
  }
}

/* Main */
.col a {
  text-decoration: none;
}

.col h4 {
  padding: 0 0.1rem;
  color: black;
}

.col p {
  color: darkgray;
}

@media screen and ( min-width : 766px ) {

  .main-col {
    width: 90vw;
  }

  .main-col .card {
    flex-direction: row;
  }

  .main-col img {
    width: 350px;
    max-width: 100%;
  }
}
